[Desktop Entry]
Name=smolplayer
GenericName=Music Player
Comment=A music player with no GUI
Exec=smolplayer %U
Icon=io.github.roddy.SmolPlayer
Terminal=false
Type=Application
Categories=Audio;Music;Player;AudioVideo;
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/opus;audio/mp4;audio/x-wav;audio/wav;audio/x-matroska;audio/webm;audio/aac;audio/alac;audio/x-ape;audio/x-aiff;audio/aiff;audio/wma;audio/x-ms-wma;audio/x-flac;audio/x-mp3;audio/mp3;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/x-aac;audio/x-m4a;audio/m4a;audio/mpegurl;audio/x-mpegurl;audio/vnd.rn-realaudio;audio/x-pn-realaudio;audio/x-musepack;audio/x-scpls;audio/x-speex;audio/x-shorten;audio/x-tta;audio/x-wavpack;inode/directory;
StartupNotify=false
